<h1>Mijn Account</h1>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2>{{displayName}}</h2>
    </div>
    <div class="panel-body">
       
            <div class="col-md-6">
                  
            <h4>{{givenName}} {{surName}}</h4>
            <br>
            <h4>{{id}}</h4>
            <br>
            <h4>{{mail}}</h4>
            <br>
            <h4>{{title}}</h4>
            <br>
            <h4>{{department}}</h4>          
            <br>     
            </div>
            <div class="col-md-6 profile-image-container">
                <img src="https://api.fhict.nl/pictures/me.jpg">
            </div>  
        </div>
</div>
<!--<img src="https://apps.fhict.nl/api/picture/me/small?fallback=retro&mod=squarefill">-->
                <!--<img src="https://apps.fhict.nl/userphotos/public/I345177.jpg?height=400&width=266&mode=crop&anchor=top">-->